.container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sombra{
  width: 600px;
  display: flex;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1)
}
.results {
  width: 300px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 30px;
  padding: 30px;
  text-align: center;
}
.results .titulo {
  color: hsl(241, 100%, 89%);
  margin-bottom: 30px;
  font-size: 20px;
}
.results .circulo {
  display: inline-block;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  padding: 30px 50px;
  margin-bottom: 30px;
}
.results .circulo .pontuacao {
  font-size: 50px;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
}
.results .circulo .pontuacao-maxima {
  color: hsla(241, 100%, 89%, 50%);
}
.caixa-de-descricao {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 15px;
}
.caixa-de-descricao .subtitulo {
  font-size: 25px;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  margin-bottom: 15px;
}
.caixa-de-descricao .descricao {
  flex-basis: 220px;
  color: hsl(241, 100%, 89%);
}
.summary {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 30px;
  padding: 30px;
}
.summary .titulo {
  color: hsl(224, 30%, 27%);
  margin-bottom: 25px;
  font-size: 20px;
}
.summary ul {
  margin-bottom: 20px;
}
.summary li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
}
.summary .alinhamento-li{
  display: flex;
  gap: 0.5rem;
}
.summary .reaction {
  background-color: hsla(0, 100%, 67%, 10%);
  color: hsl(0, 100%, 67%);
}
.summary .memory {
  background-color: hsla(39, 100%, 56%, 10%);
  color: hsl(39, 100%, 56%);
}
.summary .verbal {
  background-color: hsla(166, 100%, 37%, 10%);
  color: hsl(166, 100%, 37%);
}
.summary .visual {
  background-color: hsla(234, 85%, 45%, 10%);
  color: hsl(234, 85%, 45%);
}

.summary .pontos {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}
.summary .pontos-totais {
  color: hsla(224, 30%, 27%, 50%);
  font-weight: 800;
}

.summary .continue {
  background-color: hsl(224, 30%, 27%);
  border: none;
  border-radius: 40px;
  padding: 10px;
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}
button.continue:hover {
  background-color: hsl(252, 100%, 67%);
}

.attribution {
  display: flex;
  font-size: 11px;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media(max-width: 800px){
  .container{
    height: 100%;
  }
  .sombra{
    flex-direction: column;
    width: 350px;
  }
  .results{
    padding-top: 20px;
    width: 350px;
  }
  .results .titulo{
    margin-bottom: 20px;
    font-weight: 500;
  }
  .results .circulo {
    border-radius: 50%;
    padding: 20px 35px;
    margin-bottom: 20px;
  }
  .caixa-de-descricao {
    margin-bottom: 8px;
  }
  .caixa-de-descricao .subtitulo {
    font-size: 25px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
  }
  .caixa-de-descricao .descricao {
    flex-basis: 300px;
  }
  .summary {
    width: 350px;
    padding: 20px 30px;
  }
  .summary .titulo {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .summary ul {
    margin-bottom: 8px;
  }
  .summary li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
}
  .attribution {
    margin-top: 15px;
  }
}
